ul{

    font-size: 18px; color: palegoldenrod; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{

    color:black; font-size: 18px;
}

body{

    background-color: white;
}

ul{

    display: inline-flex; width: 100%;
    list-style: none; background-color:#f3d86d; 
padding: 0%; margin-top: 0%;
}

ul li{

    margin-left: 10px;  margin-right: 24rem; display: inline ; font-size: 20px;
}

img{

    float: left;
}


h1,h2 {

    font-size: 24px; font-variant: small-caps; color: rgb(243, 161, 8);
}

article{

    font-size: 18px;
}


header{
    background-color: white; background-image: url(../image/people.jpg); height: 30rem;
}

section{
    color: rgb(148, 121, 71);
}

p{
    color: rgb(148, 121, 71);
}

label{

    display: flex; flex-direction: row; text-align: left; justify-content: baseline; width: 400px; line-height: 26px; margin-bottom: 15px; 
}

input{
    height: 20px; flex: 0 0 200px; margin-left: 5px;
}