header{

    text-shadow: 2px 2px 2px rgb(230, 102, 80);
    margin: 3px;
    padding: 2px;
    text-align: center;
    align-content:center;
     font-size: 55px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
    font-style: oblique;
    word-spacing: 2px;

}

header:hover{
    color: blanchedalmond;
}




body{
    background-color: black;
}

#parallelogram{

    background-color: rgb(139, 19, 35);
    width: 300px;
    height: 250px;
    transform: skew(20deg);
    display: flex;    
    margin-left: 600px;
    margin-top: 100px ;
}

#parallelogram2{

    background-color: rgb(139, 19, 35);
    width: 300px;
    height: 250px;
    transform: skew(20deg);
    display: flex;    
    margin-left: 200px;
    margin-top: 100px ;
}

#parallelogram3{

    background-color: rgb(139, 19, 35);
    width: 300px;
    height: 250px;
    transform: skew(20deg);
    display: flex;    
    margin-left: 500px;
    margin-top: 50px ;
}

@media screen and (max-width:400px){
    header{
        display: flex;
        text-align: left;
        color: blue;
        text-shadow: 5px 5px 10px rgb(126, 137, 228);
    }
}

